doctype html
html(lang="en")
    head
        title pageTitle
        link(rel='stylesheet', href='css/style.css')
        script(src='js/app.js')

    body
        .container
            h1 h13s
            p Jade